<div class="footer-nav">
  <div id="driver">
    <a href="#">Become a Driver</a>
    <a href="#">Why Lyft</a>
    <a href="#">Cities</a>
    <a href="#">Help</a>
    <a href="#">Safety</a>
    <a href="#">Driven by You</a>
    <a href="#">Express Drive</a>
    <a href="#">Application Requirements</a>
    <a href="#">Bonus</a>
    <a href="#">Earnings</a>
    <a href="#">Jobs</a>
    <a href="#">Hub</a>
  </div>
  <div id="rider">
    <a href="#">Sign up to Ride</a>
    <a href="#">Business Profile</a>
    <a href="#">Cities</a>
    <a href="#">Help</a>
    <a href="#">Event</a>
    <a href="#">Fare Estimates</a>
    <a href="#">Airports</a>
    <a href="#">Promo Code</a>
    <a href="#">Gift Cards</a>
    <a href="#">All-Access Plan</a>
    <a href="#">Round Up & Donate</a>
    <a href="#">Blog</a>
  </div>
  <div id="lyft">
    <a href="#">Lyft City Works</a>
    <a href="#">Careers</a>
    <a href="#">Business</a>
    <a href="#">Self-Driving</a>
    <a href="#">Developers</a>
    <a href="#">Safety</a>
    <a href="#">Scooters</a>
    <a href="#">Press</a>
    <a href="#">Investor Relations</a>
  </div>
  <div id="download">
    <a href="#"> <img src="./assets/images/apple-store.svg"> </a>
    <a href="#"> <img src="./assets/images/google-play.png"> </a>
    <a href="#"> <img src="./assets/images/microsoft.svg"> </a>
    <a href="#"> <img src="./assets/images/amazon.png"> </a>
  </div>
</div>
