<div class="footer-nav">
  <div id="driver">
    <a href="/driver">Become a Driver</a>
    <a href="#">Why Lyft</a>
    <a href="#">Cities</a>
    <a href="#">Help</a>
    <a href="#">Safety</a>
    <a href="#">Driven by You</a>
    <a href="#">Express Drive</a>
    <a href="#">Application Requirements</a>
    <a href="#">Bonus</a>
    <a href="#">Earnings</a>
    <a href="#">Jobs</a>
    <a href="#">Hub</a>
  </div>
  <div id="rider">

  </div>
  <div id="lyft">

  </div>
  <div id="download">

  </div>
</div>
