.footer-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  div {
    text-align: left;
    width: 20%;
    ul {
      list-style: none;
      text-decoration: none;
    }
  }
}


img {
  width: 150px;
  height: auto;
}
