<div class="footer-nav">
  <div id="driver">
    <h2>Driver</h2>
    <ul>
      <li><a href="#">Become a Driver</a></li>
      <li><a href="#">Why Lyft</a></li>
      <li><a href="#">Cities</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Safety</a></li>
      <li><a href="#">Driven by You</a></li>
      <li><a href="#">Express Drive</a></li>
      <li><a href="#">Application Requirements</a></li>
      <li><a href="#">Bonus</a></li>
      <li><a href="#">Earnings</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Hub</a></li>
    </ul>
  </div>
  <div id="rider">
    <h2>Rider</h2>
    <ul>
      <li><a href="#">Sign up to Ride</a></li>
      <li><a href="#">Business Profile</a></li>
      <li><a href="#">Cities</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Event</a></li>
      <li><a href="#">Fare Estimates</a></li>
      <li><a href="#">Airports</a></li>
      <li><a href="#">Promo Code</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a href="#">All-Access Plan</a></li>
      <li><a href="#">Round Up & Donate</a></li>
      <li><a href="#">Blog</a></li>
  </ul>
  </div>
  <div id="lyft">
    <h2>LYFT</h2>
    <ul>
      <li><a href="#">Lyft City Works</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Self-Driving</a></li>
      <li><a href="#">Developers</a></li>
      <li><a href="#">Safety</a></li>
      <li><a href="#">Scooters</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Investor Relations</a></li>
    </ul>
  </div>
  <div id="download">
    <h2>Download</h2>
    <div id="buttons">
      <a href="#"> <img src="./assets/images/apple-store.svg"> </a>
      <a href="#"> <img src="./assets/images/google-play.png"> </a>
      <a href="#"> <img src="./assets/images/microsoft.svg"> </a>
      <a href="#"> <img src="./assets/images/amazon.png"> </a>
    </div>
  </div>
</div>
